
# general ignores
**.DS_Store
.ipynb_checkpoints/
__pycache__/


# because it is against kaggle ToS to upload data files to github
data/

# as a place to store other auxerillary files not necessary to the repository
ommisions/

# to exclude my personal notes/to-do lists
notes.txt

# to exclude other csv files created throughout the course of the testing
**.csv

